/*
--- colors ---
red: #E43B20

*/

@font-face {
    font-family: BernhardFashion;
    src: url("./fonts/BernhardFashion-Std-Regular.otf") format("opentype");
}
@font-face {
    font-family: MinionPro;
    src: url("./fonts/MinionPro-Regular.otf") format("opentype");
}

html{
    max-width: 100vw;
    overflow-x:hidden;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
}

body:after{
    content:"";
    position: fixed;
    top:0;
    height:100vh; 
    width: 100vw;
    left:0;
    right:0;
    z-index:-1; 
    background: url('./images/cover-photo-dark.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header * {
    display: inline-block;
    background-color: transparent;
}

div.row{
    width: 100%;
    min-height: 420px;
    padding: 40px 8%;
    margin: 0;
}

section.content{
    width: 100%;
    background-color: rgb(20,20,20,0.9);
    padding: 0;
}

.hero{
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.hero-text-container{
    margin-top: 20vh;
}

h1 {
    font-family: BernhardFashion;
    font-size: 80px;
    color: #E43B20;
}

h2 {
    font-family: MinionPro;
    font-size: 24px;
}

h3{
    font-family: BernhardFashion;
    font-size: 38px;
}

.arrow-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}

.arrow{
    width: 60px;
    opacity: 0.5;
    position: relative;
    animation: MoveUpDown 2s ease-in infinite;
    transition-duration: 0.3s;
}

@keyframes MoveUpDown{
    0%, 100%{
        bottom: 0px;
    }
    50%{
        bottom: 5px;
    }
}

.cover, .author-photo{
    max-width: 100%;
    border-radius: 2px;
    position: relative;
    top: 0;
    margin-bottom: 30px;
}

.cover{
    box-shadow: -2px 2px 6px 0px rgba(0,0,0);
}

.description-container{
    padding-left: 4%;
    position: relative;
}

div.about-border-container{
    text-align: center;
}

div.about-border{
    display: inline-block;
    width: 80%;
    height: 0px;
    border-top: solid 1px rgb(255,255,255, 0.7)
}

.about-text-container{
    position: relative;
}

nav{
    margin-top: 6px;
}

ul.nav-list{
    padding: 0px;
    width: 94vw;
    height: 100px;
}

li{
    display: inline-block;
    margin: 0px 3%;
}

a{
    color: white;
    font-family: BernhardFashion;
    /*
    font-family: Georgia, 'Times New Roman', Times, serif;
    */
    font-size: 18px;
    transition-duration: 0.2s;
    display: inline-block;
    position: relative;
    top: 0;
    border-bottom: transparent solid 1px;
}

a:hover{
    top: 4px;
    /*color: #E43B20;*/
    color: white;
    text-decoration: none;
    border-bottom: #E43B20 solid 2px;
}

.row-title-container{
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
}

h4{
    font-family: MinionPro;
    font-size: 32px;
}

h5.plain-subtitle, h6{
    font-family: MinionPro;
}


.button-container{
    margin: 15px 0;
}

button.purchase{
    width: 160px;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 4px;
    color: white;
    padding: 2% 4%;
    transition-duration: 0.2s;
    position: relative;
    top: 0;
    margin-right: 16px;
}

button.purchase:hover{
    cursor: pointer;
    /*background-color: rgb(277,277,277, 0.2);*/
    border-color: #E43B20;
    top: 1px;
}

button.purchase.disabled{
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
button.purchase.disabled{
    cursor: default;
    border-color: rgba(255, 255, 255, 0.8);
    top: 0;
}


.price{
    margin: 0;
}

span.author{
    font-family: MinionPro;
    font-weight: 900;
    font-size: 22px;
}

p{
    font-size: 20px;
    line-height: 24px;
    font-family: MinionPro;

}

div.contact {
    min-height: 100px;
    margin: 0px;
    text-align: center;
    padding: 20px 0;
    opacity: 70%;
    transition-duration: 0.4s;
}
div.contact:hover {
    opacity: 100%;
}


a.email-link{
    font-family: MinionPro;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: none;

}
a.email-link:hover{
    color: rgba(255, 255, 255);
    border-bottom: none;
    top: 0;
}

.contact-title-container{
    width: 100%;
    text-align: center;
}

ul.contact-list{
    width: 100%;
    padding: 0;
}

h6.contact-title{
    font-family: BernhardFashion;
    color: #E43B20;
}

img.icon{
    height: 12px;
    margin-right: 6px;
}

footer{
    background-color: rgb(10,10,10,0.95);
}

@media only screen and (max-width: 1400px) {
    p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 828px) {
    h1{
        font-size: 76px;
    }
    p{
        font-size: 12px;
    }
    button.purchase{
        width: 120px;
    }
    div.contact {
        opacity: 100%;
        padding-top: 20px;
    }
    a:hover{
        border-bottom: none;
        top: none;
    }
}

@media only screen and (max-width: 500px){

    li{
        margin: 0px 1%;
    }
    
    a{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }
}