/*
--- colors ---
red: #E43B20

*/

@font-face {
    font-family: BernhardFashion;
    src: url("./fonts/BernhardFashion-Std-Regular.otf") format("opentype");
}
@font-face {
    font-family: MinionPro;
    src: url("./fonts/MinionPro-Regular.otf") format("opentype");
}

body{
    max-width: 100%;
    color: white;
    background-image: url('./images/cover-photo-dark.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


header * {
    display: inline-block;
    background-color: transparent;
}

.row{
    width: 100%;
    /*margin-bottom: 60px;*/
    /*height: 100vh;*/
    min-height: 520px;
}

section.content{
    width: 100%;
    background-color: rgb(20,20,20,0.9);
    padding: 50px 10%;
}

.hero{
    height: 100vh;
    text-align: center;
}

.hero-text-container{
    margin-top: 15%;
}

h1 {
    font-family: BernhardFashion;
    font-size: 80px;
    color: #E43B20;
}

h2 {
    font-family: MinionPro;
    font-size: 24px;
}

h3{
    font-family: BernhardFashion;
    font-size: 38px;
}

.cover {
    max-width: 100%;
    box-shadow: -2px 2px 6px 0px rgba(0,0,0);
    border-radius: 2px;
    position: relative;
    top: 0;
    margin-bottom: 30px;
}

.description-container{
    padding-left: 4%;
}

nav{
    margin-top: 6px;
}

ul{
    padding: 0px;
    width: 96vw;
    height: 100px;
}

li{
    display: inline-block;
    margin: 0px 3%;
}

a{
    color: white;
    font-family: BernhardFashion;
    /*
    font-family: Georgia, 'Times New Roman', Times, serif;
    */
    font-size: 18px;
    transition-duration: 0.2s;
    display: inline-block;
    position: relative;
    top: 0;
    border-bottom: transparent solid 1px;
}

a:hover{
    top: 4px;
    /*color: #E43B20;*/
    color: white;
    text-decoration: none;
    border-bottom: #E43B20 solid 2px;
}

.row-title-container{
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
}

h4{
    font-family: MinionPro;
    font-size: 32px;
}

h5.plain-subtitle{
    font-family: MinionPro;
}

div.row{
    padding: 50px 0;
}


.button-container{
    margin: 15px 0;
}

button.purchase{
    background-color: transparent;
    border: 1px white solid;
    border-radius: 4px;
    color: white;
    padding: 2% 8%;
    transition-duration: 0.2s;
    position: relative;
    top: 0;
    margin-right: 16px;
}

button.purchase:hover{
    cursor: pointer;
    /*background-color: rgb(277,277,277, 0.2);*/
    border-color: #E43B20;
    top: 1px;
}

.price{
    margin: 0;
}

span.author{
    font-family: MinionPro;
    font-weight: 900;
    font-size: 22px;
}

p{
    font-size: 18px;
}

div.contact {
    min-height: 200px;
    background-color: rgb(25,25,25,0.6)
}

@media only screen and (max-width: 1400px) {
    p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px){

    li{
        margin: 0px 1%;
    }
    
    a{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }
}